.header {
    overflow: hidden;
    background-color: #FFF;
    border-bottom: 1px solid #E5E5E5;
    padding: 20px 10px;
    position: sticky;
  }

  .header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
  
  .header button {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .header a.logo {
    text-transform: none;
    font-size: 30px;
    font-weight: bold;
    color: #FF6B01;
  }

  .header-right {
    float: right;
  }

  a.editarperfil {
    color: #FF6B01;
    border: 1px solid #FF6B01;
    box-sizing: border-box;
    border-radius: 50px;
  }

  button.sair{
    color: #FFF;
    background: #FF6B01;
    border-radius: 50px;
    margin-left: 15px;
    width: 100px;
    border: none;
    cursor: pointer;
  }

  button.sair:hover {
      opacity: 0.8;
  }

  .img_logo {
      float: left;
      width: 45px;
  }

